* {
/*  border: 1px solid black;*/
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff;
}

.qty_spinner {
 padding: 20px;
 text-align: center;
}

.qty_spinner input[type="number"] {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.menu input[type="checkbox"] {
  display: none;
}

label { 
  display: block;
  position: relative;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 150px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label:before {
  content: "\2713";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333; 
  z-index: -1;
}

.caption {
  font-size: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.shopping_list table{
  margin: 0 auto;
  width: 50%;
  border: 1px solid white;
  background-color: #f7f7f7;
}

.shopping_list th {
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #ddd;
}

.shopping_list td {
  border-bottom: 1px solid #ddd;
}

.margin {
 border-right: 1px solid red;
} 

/*This is the colour of the shopping list item when hovered over*/
.shopping_list tr:hover {
  background-color: #bcb3cc;
}
/*This is the colour of the shopping list item when checked*/
.checked {
    background-color: #bcb3cc;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
